body {
    background: #f5f5f5;
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

.login-box {
    background: url(https://i.imgur.com/73BxBuI.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 50px auto;
    min-height: 700px;  
   /* Set the desired width */
}

.logo {
    font-family: "Script MT";
    font-size: 54px;
    text-align: center;
    color: #888888;
    margin-bottom: 10px; /* Reduce the margin between the logo and "Staff Login" */
    margin-top: 10px; /* Add margin to move "Staff Login" up */
    
}

/* Define the keyframes animation */
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the login box */
  .animation {
    animation: slideIn 0.5s ease-in-out;
  }
  
  /* Add hover effect to the login button */
  .login-form .login-button:hover {
    background-color: #3BC3FF;
  }
  

.logo .logo-font {
    color: #3BC3FF;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }
}

.header-title {
    text-align: center;
    margin-bottom: 50px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form .form-control {
    border-radius: 0;
    margin-bottom: 30px;
}

.login-form .form-group {
    position: relative;
}

.login-form .form-group .forgot-password {
    position: absolute;
    top: 6px;
    right: 15px;
}

.login-form .btn {
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.login-form .btn.btn-primary {
    background: #3BC3FF;
    border-color: #31c0ff;
}

.slider-feature-card {
    background: #fff;
    max-width: 280px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.slider-feature-card img {
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slider-feature-card h3,
.slider-feature-card p {
    margin-bottom: 30px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    cursor: pointer;
}

.hover-effect:hover {
    box-shadow: 0 0 5px 0px #3BC3FF;
    transition: box-shadow 0.3s ease-in-out;
  }
  
/* Add this CSS class in your styles.css or a custom CSS file */
.horizontal-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align left */
    align-items: center; /* Center vertically */
    margin-bottom: 10px; /* Reduce the margin between the logo and "Staff Login" */
    margin-top: 10px;  /* Add margin for spacing between fields */
}

.mat-form-field {
    width: 100%; /* Set the width to 100% to fill the container */
    font-size: 16px; /* Adjust font size */
    margin-bottom: 15px; /* Add margin between fields */
  }
  
  /* Increase the height of the input field */
  .mat-input-element {
    height: 40px; /* Adjust the height */
  }


  
  