<section class="body">
  <div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div class="login-box horizontal-align" fxFlex="50%">
      <div class="col-sm-6 animation">
        <mat-card class="login-card">
          <mat-toolbar style="text-decoration: none;">
            <span style="color: black;">Login</span>
          </mat-toolbar>
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <mat-form-field appearance="outline" style="width: 100%;" class="round-input"> <!-- Add a custom class -->
              <mat-label>Username</mat-label>
              <mat-icon matPrefix color="warn">account_circle</mat-icon>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;" class="round-input"> <!-- Add a custom class -->
              <mat-label>Password</mat-label>
              <mat-icon matPrefix color="warn">lock</mat-icon>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">LOGIN</button>
          </form>
          <div class="horizontal-align" *ngIf="loginFailed">
            <p class="error-message">Incorrect Credentials</p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>