<header class="header">
    <div class="logo-container">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../assets/dvdlogo2.svg" alt="Company Logo" class="company-logo">
    </div>
    <div class="company-name">
      <h1 id="headid">MINDCRAFT SOFTWARE PVT. LTD.</h1>
    </div>
    <div class="profile-container">
      <img src="../../assets/profile.svg" (click)="openProfileCard()" class="company-logo" id="profile">
    </div>
  </header>
  