/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* 
body {
    background: #f5f5f5;
} */

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}


/*******************************LOGGING OUT SPINNER********************/
/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


::ng-deep mat-progress-spinner#spinner {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
   */


/*******************************HEADER COMPONENT************************/
#profile:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.header {
    /* background-color: #685AB2; */
    background-color: #232b2b;
    /* color: #DED5EB; */
    color: #fff;
    height: 45px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 65px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

.company-name {
    text-align: center;
}

.company-name h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}

.profile-container {
    display: flex;
    align-items: center;
}

#profile-icon {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    overflow: visible;
}

#profile-icon:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

/*******************************************FOOTER*************************/

footer {
    text-align: center;
    padding: 10px;
    /* background-color: #685AB2; */
    background-color: #232b2b;
    /* color: #DED5EB; */
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 45px;
}

#foot {
    padding-top: 15px;
}

/*****************************LOGIN PAGE*******************************/

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.login-box {
    /* background: url(https://images.unsplash.com/photo-1651647232601-fbea5b6cca0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fGJsYWNrJTIwbG9naW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60); */
    /* background: url(https://images.unsplash.com/photo-1541450805268-4822a3a774ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80); */
    background: url('../src/assets/bg14.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 50px auto;
    min-height: 700px;
    margin-top: 0px;
}

#loginbox2 {
    box-shadow: 0 10px 100px 20px rgba(0, 0, 0, 0.3);
    border: px solid #cccccc;
    padding: 30px;
    width: 400px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: auto;
    background-color: rgb(243, 243, 243);
    margin-right: auto;
}

#loginlogo {
    font-family: "Script MT";
    font-size: 54px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    padding-left: 60px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#inputusername {
    border: 2px solid #007bff;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    color: #555;
    height: 40px;
    transition: border-color 0.3s ease-in-out;
}

#inputusername:focus {
    outline: none;
    border-color: #ff5733;
    box-shadow: 0 0 5px rgba(255, 87, 51, 0.5);
}

mat-label {
    font-size: 16px;
    /* Adjust the font size as needed */
    color: #333;
    /* Adjust the color as needed */
}

#formfield1 {
    width: 300px;
    border-radius: 40px;
}

/* Define the keyframes animation */
@keyframes fadeInSlideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply the animation to the login box */
.animation {
    animation: fadeInSlideIn 0.5s ease-in-out;
}


@media only screen and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }
}








/*****************************PAGE NOT FOUND***********************************8*/


@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes rocket-movement {
    100% {
        -moz-transform: translate(1200px, -600px);
    }
}

@-webkit-keyframes rocket-movement {
    100% {
        -webkit-transform: translate(1200px, -600px);
    }
}

@keyframes rocket-movement {
    100% {
        transform: translate(1200px, -600px);
    }
}

@-moz-keyframes spin-earth {
    100% {
        -moz-transform: rotate(-360deg);
        transition: transform 20s;
    }
}

@-webkit-keyframes spin-earth {
    100% {
        -webkit-transform: rotate(-360deg);
        transition: transform 20s;
    }
}

@keyframes spin-earth {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        transition: transform 20s;
    }
}

@-moz-keyframes move-astronaut {
    100% {
        -moz-transform: translate(-160px, -160px);
    }
}

@-webkit-keyframes move-astronaut {
    100% {
        -webkit-transform: translate(-160px, -160px);
    }
}

@keyframes move-astronaut {
    100% {
        -webkit-transform: translate(-160px, -160px);
        transform: translate(-160px, -160px);
    }
}

@-moz-keyframes rotate-astronaut {
    100% {
        -moz-transform: rotate(-720deg);
    }
}

@-webkit-keyframes rotate-astronaut {
    100% {
        -webkit-transform: rotate(-720deg);
    }
}

@keyframes rotate-astronaut {
    100% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@-moz-keyframes glow-star {
    40% {
        -moz-opacity: 0.3;
    }

    90%,
    100% {
        -moz-opacity: 1;
        -moz-transform: scale(1.2);
    }
}

@-webkit-keyframes glow-star {
    40% {
        -webkit-opacity: 0.3;
    }

    90%,
    100% {
        -webkit-opacity: 1;
        -webkit-transform: scale(1.2);
    }
}

@keyframes glow-star {
    40% {
        -webkit-opacity: 0.3;
        opacity: 0.3;
    }

    90%,
    100% {
        -webkit-opacity: 1;
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        border-radius: 999999px;
    }
}

.spin-earth-on-hover {

    transition: ease 200s !important;
    transform: rotate(-3600deg) !important;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.bg-purple {
    background: url(http://salehriaz.com/404Page/img/bg_purple.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;

}

.custom-navbar {
    padding-top: 15px;
}

.brand-logo {
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.navbar-links {
    display: inline-block;
    float: right;
    margin-right: 15px;
    text-transform: uppercase;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*    overflow: hidden;*/
    display: flex;
    align-items: center;
}

li {
    float: left;
    padding: 0px 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

li a:hover {
    color: #ffcb39;
}

.btn-request {
    padding: 10px 25px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
}

.btn-request:hover {
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.btn-go-home {
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 11px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-go-home:hover {
    background-color: #3BC3FF;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.central-body {
    /*    width: 100%;*/
    padding: 17% 5% 10% 5%;
    text-align: center;
}

.objects img {
    z-index: 90;
    pointer-events: none;
}

.object_rocket {
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: rocket-movement 200s linear infinite both running;
}

.object_earth {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
    /*    animation: spin-earth 100s infinite linear both;*/
}

.object_moon {
    position: absolute;
    top: 12%;
    left: 25%;
}

.object_astronaut {
    animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}

.image-404 {
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.stars {
    background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

.glowing_stars .star {
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}

.glowing_stars .star:nth-child(1) {
    top: 80%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(2) {
    top: 20%;
    left: 40%;
    animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(3) {
    top: 25%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(4) {
    top: 75%;
    left: 80%;
    animation: glow-star 2s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(5) {
    top: 90%;
    left: 50%;
    animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px) {
    .navbar-links {
        display: none;
    }

    .custom-navbar {
        text-align: center;
    }

    .brand-logo img {
        width: 120px;
    }

    .box_astronaut {
        top: 70%;
    }

    .central-body {
        padding-top: 25%;
    }
}




/************************HEADER USER ICON BOX CSS*****************/
#yash {
    position: fixed;
    top: 80px;
    right: 40px;
    z-index: 999;
}

#card {
    height: 380px;
    width: 300px;
}

#time {
    color: red;
}

#heading {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-left: 80px;
    color: red;
}

#btn {
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#btn:hover {
    transform: scale(0.9);
    transition: 0.2 ease-in-out;
}

#content {
    margin-top: 20px;
}

#wlcm {
    padding-left: 70px;
}

/***************************DISPLAY PAGE CSS**********************/
#displayhead {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #ff5722;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.mat-table-container {
    margin: 10px;
    overflow-x: auto;
    /* Add horizontal scrollbar for small screens */
}

/* Styles for screens smaller than 600px (typical mobile screens) */
@media (max-width: 600px) {
    .mat-table-container {
        overflow-x: auto;
    }

    #displayhead {
        font-size: 24px;
    }

    table.mat-table {
        display: block;
    }
}

/*TABLE CSS*/
#dataTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #b8a9a9;
}

/*TABLE HEADER ROW CSS*/
#thcolor {
    /* background-color: rgb(244, 143, 143); */
    /* background-color: #B29CD0; */
    background-color: #3b444b;
    /* padding: 10px; */
    text-align: left;
    /* color: rgb(113, 100, 100); */
    color: #fff;
    border: 1px solid #b8a9a9;
    font-weight: 450;
    font-size: 14px;
    text-transform: uppercase;
}

/*TABLE HEADER ROW CSS*/
#tdpad {
    padding: 20px;
    text-align: center;
    border: 1px solid #b8a9a9;
}

/*TABLE TD ROW CSS*/
#tdpadid {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 5px;
    border: 1px solid #b8a9a9;
}

/* CONVERT TO EXCEL BUTTON CSS */
.convert {
    display: block;
    margin: 20px auto;
    background-color: #f37878;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* CONVERT TO EXCEL BUTTON CSS */
.convert:hover {
    background-color: #f93c3c;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

/* FILTER ICON */
.btn-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 1px;
}

/* PAGINATOR */
.mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* ALTERNATE COLOR FOR ROWS */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* EYE ICON */
#iconcolor {
    color: #09ebeb;
}

#filter {
    height: 18px;
    display: inline;
}

#filter:hover {
    cursor: pointer;
}

/**********************ADMIN DASHBOARD COMPONENT*******************/
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    /* Adjust the radius as needed */
    overflow: hidden;
    /* Ensures the rounded corners are applied */
}

#thcolor1 {
    /* background-color: #414a4c; */
    color: #fff;
    text-transform: uppercase;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard-card {
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

#count-label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #333;
}

#header {
    width: 200px;
    height: 100px;
    /* background-color: #8fdcf6; */
    background-color: #465057;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

#title {
    padding-left: 50px;
    padding-top: 30px;
    color: #ff5733;
}

.dashboard-card:hover {
    transform: scale(1.05);
    /* Change background color on hover */
}

/* Animation */
@keyframes bounceIn {
    0% {
        transform: translateY(-50px);
        /* Start the cards off the screen */
        opacity: 0;
    }

    70% {
        transform: translateY(10px);
        /* Bounce effect */
        opacity: 1;
    }

    85% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce-animation {
    animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/*******************TABLE******************/
/* Add more styles as needed */
#table-responsive {
    overflow-x: auto;
    margin: 20px;
}

#mtable {
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;
}

#mtable th,
#mtable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#mtable th {
    background-color: #f5f5f5;
    font-weight: bold;
}

#mtable tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Alternate row background color */
}

#mbtn {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
}

#mbtn[color="primary"] {
    background-color: #3498db;
    /* Button background color */
    color: #fff;
    /* Button text color */
}

#mbtn[color="accent"] {
    background-color: #f39c12;
    /* Button background color */
    color: #fff;
    /* Button text color */
}

#mbtn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

/* Responsive CSS for smaller screens */
@media (max-width: 768px) {
    .mat-table {
        font-size: 14px;
        /* Decrease font size for smaller screens */
    }
}


#storedhead {
    font-size: 24px;
    color: #333;
    /* Text color */
    text-align: center;
    margin-top: 30px;
    /* Adjust the spacing as needed */
    text-transform: uppercase;
    /* Uppercase text */
    letter-spacing: 2px;
    /* Add letter spacing */
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #3498db;
    padding-bottom: 10px;
    /* Spacing between the text and the border */
}

/* Optional: Add hover effect */
#storedhead:hover {
    color: #1a72b8;
    /* Text color on hover */
}


/**************************************SIDE DIALOGUE*****************/
#dvd {
    padding-left: 100px;
}

/* Custom styles for the dialog box */
.custom-dialog-title {
    font-size: 24px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #414a4c;
}

.custom-dialog-header {
    display: flex;
    margin-left: 120px;
    align-items: center;
    margin-bottom: 20px;
}

#svgicon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.custom-dialog-content {
    font-size: 18px;
    color: #666;
}

.custom-actor-list {
    list-style-type: none;
    padding: 0;
}

.custom-actor-item {
    margin-bottom: 10px;
}

.custom-dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#closebtn {
    background-color: #353839;
    color: #fff;
    margin-left: 150px;
}

#closebtn:hover {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
}

/* Style the custom actor table */
.custom-actor-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
}

.custom-actor-table th,
.custom-actor-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.custom-actor-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


/*********************************LOGIN FORM**********************/
/* Add your custom styles here */
.login-card {
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    animation: fadeInSlideIn 1s ease-in-out forwards;
    transform: translateX(-100%);
    opacity: 0;
    /* background-color: transparent;  change kele mi ha */
}

.login-card mat-toolbar {
    background: none;
    color: rgb(113, 100, 100);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 9px;
}


.input-container {
    background: none;
}

#uname {
    background: none;
    border-radius: 50px;
}

mat-form-field {
    width: 100%;
}


input {
    width: 100%;
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 5px 0;
}

#loginbtn {
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    border: none solid gray;
}

.aqua {
    background-color: #B2656F;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
}

.aqua:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 31px;
    height: auto;
    padding-top: 10px;
}

.input-container1 {
    margin-top: 40px;
}

#input {
    border-radius: 50px;
    background-color: rgb(236, 236, 236);
    height: 45px;
    padding-left: 15px;
    border-bottom: #B2656F;

}

#input1 {
    border-radius: 50px;
    background-color: rgb(236, 236, 236);
    height: 45px;
    padding-left: 15px;
}