<!-- Add this section to display film details -->
<h2 mat-dialog-title>Customer Film Details</h2>
<div mat-dialog-content>
  <table mat-table [dataSource]="customerFilms" class="mat-elevation-z8">
    <!-- Define your table columns here -->
    <ng-container matColumnDef="filmId">
      <th mat-header-cell *matHeaderCellDef> Film ID </th>
      <td mat-cell *matCellDef="let film"> {{ film.filmId }} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let film"> {{ film.title }} </td>
    </ng-container>
    <ng-container matColumnDef="customer_id">
        <th mat-header-cell *matHeaderCellDef>CustomerID </th>
        <td mat-cell *matCellDef="let film"> {{ film.customer_id}} </td>
      </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let film"> {{ film.description }} </td>
    </ng-container>
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef> Category Name </th>
      <td mat-cell *matCellDef="let film"> {{ film.categoryName }} </td>
    </ng-container>
    <ng-container matColumnDef="languageName">
      <th mat-header-cell *matHeaderCellDef> Language Name </th>
      <td mat-cell *matCellDef="let film"> {{ film.languageName }} </td>
    </ng-container>
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef> Length </th>
      <td mat-cell *matCellDef="let film"> {{ film.length }} </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let film"> {{ film.rating }} </td>
    </ng-container>
    <ng-container matColumnDef="rental_duration">
        <th mat-header-cell *matHeaderCellDef> rental Duration </th>
        <td mat-cell *matCellDef="let film"> {{ film.rental_duration}} </td>
      </ng-container>
      <ng-container matColumnDef="rental_rate">
        <th mat-header-cell *matHeaderCellDef>Rate</th>
        <td mat-cell *matCellDef="let film"> {{ film.rental_rate}} </td>
      </ng-container>
      <ng-container matColumnDef="releaseYear">
        <th mat-header-cell *matHeaderCellDef> ReleaseYear</th>
        <td mat-cell *matCellDef="let film"> {{ film.releaseYear }} </td>
      </ng-container>
      <ng-container matColumnDef="store_id">
        <th mat-header-cell *matHeaderCellDef> StoreId</th>
        <td mat-cell *matCellDef="let film"> {{ film.store_id }} </td>
      </ng-container>
          

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="closeDialog()">Close</button> -->
</div>

