
<h2></h2>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side">

      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-nav-list>
        <a mat-list-item [routerLink]="'/tab1'">Tab 1</a>
        <a mat-list-item [routerLink]="'/tab2'">Tab 2</a>
      </mat-nav-list>

    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  