#yash {
    position: fixed;
    top: 100px;
    right: 40px;
    z-index: 999;
}

#card {
    height: 300px;
    width: 300px;
}

#heading {
    margin-left: 80px;
    color: red;
}

#btn {
    margin-left: 100px;
    margin-top: 60px;
}

#content {
    margin-top: 20px;
}

#wlcm{
    margin-left: 60px;
}