/* #yash {
    position: fixed;
    top: 100px;
    right: 40px;
    z-index: 999;
}

#card {
    height: 350px;
    width: 350px;
    font-size: 22px;
    line-height: 1.5;
}

#heading {
    margin-left: 80px;
    color: red;
}

#btn {
    margin-left: 100px;
    margin-top: 60px;
}

#content {
    margin-top: 20px;
}

#wlcm{
    margin-left: 60px;
} */