<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="yash">
        <mat-card id="card">
            <mat-card-header>
                <mat-card-title id="heading">User Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content id="content">
                <p id="wlcm">Welcome to your profile!</p>
                <img src="../../assets/user.svg" alt="Company Logo" class="company-logo" id="dvd">
                <p style="margin-top: 20px;"><strong>Name: </strong>{{name}}</p>
                <p><strong>Staff ID: </strong> {{id}}</p>
                <p><strong>Email ID: </strong> {{email}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="logout()" id="btn">Logout</button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>

</html>