<!-- <h2>User Details</h2>
<p><strong>Username:</strong> {{ data.username }}</p>
<p><strong>Store ID:</strong> {{ data.storeId }}</p>

<button mat-button (click)="closeDialogue()">Close</button>
<button mat-button (click)="logout()">Logout</button> -->

<ng-template #dialogTemplate>
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Welcome to your profile!</p>
        <p><strong>Name:</strong> John Doe</p>
        <p><strong>Employee Code:</strong> 3666</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>