<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="yash">
        <mat-card id="card">
            <mat-card-header>
                <mat-card-title id="heading">User Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content id="content">
                <p id="wlcm">Welcome to your profile!</p>
                <p><strong>Name:</strong> John Doe</p>
                <p><strong>Employee Code:</strong> 3666</p>
                <p><strong>Email:</strong> abc@gmail.com</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="logout()" id="btn">Logout</button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>

</html>