<header class="header">
    <div class="logo-container">
      <img src="../../assets/dvdlogo2.svg" alt="Company Logo" class="company-logo">
    </div>
    <div class="company-name">
      <h1 id="headid">MINDCRAFT SOFTWARE PVT. LTD.</h1>
    </div>
    <div class="profile-container">
      <!-- <mat-icon id="profile-icon" (click)="openProfileCard()">account_circle</mat-icon> -->
      <img src="../../assets/profile.svg" (click)="openProfileCard()" class="company-logo" id="profile">
    </div>
  </header>
