<app-cust-header></app-cust-header>

<h1 id="categoryhead">Categories</h1>
<!---------------------------------------------FIRST ROW OF CATEGORY--------------------------------------------------->
<div class="film-card-container">
    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/action-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/full-shot-soldiers-fighting-together_23-2150804317.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">ACTION</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/animation-films']" >
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/view-3d-kids-with-lanterns-night_23-2150710026.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">ANIMATION</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/children-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/shocked-young-boy-eyeglasses-preparing-watch-film_171337-7216.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">CHILDREN</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/classic-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-vector/classic-cinema-retro-camera-design_23-2147494047.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">CLASSIC</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!---------------------------------------------SECOND ROW OF CATEGORY--------------------------------------------------->
<div class="film-card-container">
    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/comedy-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/3d-rendering-emotions_23-2149081949.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">COMEDY</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/documentary-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/man-filming-with-professional-camera_23-2149066324.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">DOCUMENTARY</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/drama-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/smiling-female-mime-artist-looking-male-mime-artist-peeking-from-curtain_23-2147891614.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">DRAMA</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/family-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-vector/hand-drawn-asian-family-illustration_23-2149425676.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">FAMILY</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<!---------------------------------------------THIRD ROW OF CATEGORY--------------------------------------------------->
<div class="film-card-container">
    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/foreign-films']" >
                <img mat-card-image
                    src="https://img.freepik.com/premium-photo/photorealistic-image-olive-skin-handosme-man-running-from-explosion_954932-2044.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">FOREIGN</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/games-films']" >
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/one-person-men-adult-headset-protective-eyewear-digitally-generated-image-computer-graphic-virtual-reality-generative-ai_188544-31824.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">GAMES</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/horror-films']" >
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/front-view-spooky-character-posing_23-2150701276.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">HORROR</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/music-films']"  >
                <img mat-card-image
                    src="https://img.freepik.com/free-vector/colorful-music-speaker-with-sound-notes_1017-32862.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">MUSIC</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<!---------------------------------------------FOURTH ROW OF CATEGORY--------------------------------------------------->
<div class="film-card-container">
    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/new-films']" >
                <img mat-card-image
                    src="https://img.freepik.com/free-vector/new-arrival-background-with-colorful-confetti_23-2147878673.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">NEW</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/sci-fi-films']">
                <img mat-card-image
                    src="https://img.freepik.com/premium-photo/astronaut-running-out-spaceship-alien-planet-ai_76964-6077.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=ais"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">SCI-FI</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front" [routerLink]="['/sports-films']">
            <mat-card class="front-card" >
                <img mat-card-image
                    src="https://img.freepik.com/premium-photo/national-sports-day-generative-ai_756405-3691.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">SPORTS</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <mat-card class="front-card" [routerLink]="['/travel-films']">
                <img mat-card-image
                    src="https://img.freepik.com/free-photo/travel-concept-with-baggage_23-2149153260.jpg?size=626&ext=jpg&ga=GA1.1.159058718.1697628287&semt=sph"
                    style="height: 250px; width: 100%;">
                <mat-card-content>
                    <p class="film-info">TRAVEL</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<button class="backbtn" color [routerLink]="['/customer-display']">Back</button>

<app-footer></app-footer>

