/* Base styles */
.film-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

#categoryhead {
    font-size: 28px;
    color: #FF5722;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.card {
    width: calc(25% - 16px);
    margin: 8px;
}

.card-front {
    perspective: 1500px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.card-front:hover{
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}
.front-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.film-info {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    background: linear-gradient(45deg, #FFA726, #FB8C00);
    -webkit-background-clip: text;
    margin-top: 15px;
    background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
    text-shadow: 2px 2px 4px rgba(255, 140, 0, 0.3);
}


.backbtn {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.backbtn{
    background-color: #1976D2;
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 16px);
        /* 2 cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .film-card-container {
        justify-content: center;
        /* Center cards on smaller screens */
    }

    .card {
        width: calc(100% - 16px);
        /* 1 card per row on even smaller screens */
    }
}