<!-- <div> -->
    <!-- Display the table using the 'data' passed from adminDashboard.component.ts -->
    <!-- Display the table using the 'dataSource' and 'searchValue' inputs -->
<!-- <app-display [dataSource]="dataSource" [searchValue]="searchValue"></app-display>
  </div> -->
  <!-- <mat-dialog-content class="table-dialog"> -->
    <!-- Your table or large content goes here -->
    <!-- <app-display [dataSource]="dataSource" [searchValue]="searchValue"></app-display>
  </mat-dialog-content> -->
  
