<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="custdash">
    <app-header></app-header>
<!---------------------------STORE DETAILS HEADING----------------------------------->
<h2 id="storedhead" style="color: #353839; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold;">Welcome to the Customer Dashboard!</h2>
    <div class="dashboard-container">

        <!---------------------------STAFF CARD 1ST----------------------------------->
        <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
            <mat-card-header id="header">
                <mat-card-title id="title" style="padding-left: 40px;">Customer
                </mat-card-title>
                <img src="../../assets/customer1.svg" id="icon" width="40px" height="40px"
                    style="padding-top: 40px; padding-left: 10px;">
            </mat-card-header>
            <mat-card-content>
                <p id="count-label" (click)="showDetails(customerId)">Personal<br> Information</p>
            </mat-card-content>
        </mat-card>
    
        <!---------------------------STORES CARD 2ND----------------------------------->
        <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
            <mat-card-header id="header">
                <mat-card-title id="title">Films</mat-card-title>
                <img src="../../assets/films.svg" id="icon" width="30px" height="30px"
                    style="padding-top: 45px; padding-left: 10px;">
            </mat-card-header>
            <mat-card-content>
              <p id="count-label" (click)="openFilmDialog()">Films Rented Information</p>
            </mat-card-content>
        </mat-card>
    
        <!---------------------------FILMS CARD 3RD----------------------------------->
        <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
            <mat-card-header id="header">
                <mat-card-title id="title">Payment</mat-card-title>
                <img src="../../assets/payment.svg" id="icon" width="30px" height="30px"
                    style="padding-top: 45px; padding-left: 10px;">
            </mat-card-header>
            <mat-card-content>
                <p id="count-label">Payment <br> Details</p>
            </mat-card-content>
        </mat-card>
    </div>

<br>
    <br>
    <br>
    <br>

   <app-footer></app-footer> 
</body>
</html>