
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }
  
  button {
    min-width: 120px;
  }
  #icon {
    display: block;
    margin: 0 auto;
    width: 70px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    padding-top: 20px;
    padding-left: 10px;
  }
  mat-card-content {
    margin-top: 10px; 
    padding-top: 20px;
    padding-left: 5
    
    0px;/* Adjust the value as needed */
  }