<div class="mat-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Column Definitions -->
        <!---------------------------FILM ID COLUMN----------------------------->
        <ng-container matColumnDef="filmid">
            <th mat-header-cell *matHeaderCellDef> Film ID
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="filmidMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>

            <mat-menu #filmidMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Film Id.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Film Id" [(ngModel)]="searchValue.filmid"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>
                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------TITLE COLUMN----------------------------->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="titleMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            <mat-menu #titleMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Title.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Title" [(ngModel)]="searchValue.title"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------DESCRIPTION COLUMN----------------------------->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="descriptionMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            <mat-menu #descriptionMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Description.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Description" [(ngModel)]="searchValue.description"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------RELEASE YEAR COLUMN----------------------------->
        <ng-container matColumnDef="releaseYear">
            <th mat-header-cell *matHeaderCellDef> Release Year
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="releaseyrMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.releaseYear}} </td>
            <mat-menu #releaseyrMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Release Year.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Value" [(ngModel)]="searchValue.releaseYear"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------LANGUAGE COLUMN----------------------------->
        <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef> Language
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="languageMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.languageName}} </td>
            <mat-menu #languageMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Language.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Value" [(ngModel)]="searchValue.language"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------RENTAL DURATION COLUMN----------------------------->
        <ng-container matColumnDef="rentalDuration">
            <th mat-header-cell *matHeaderCellDef> Rental Duration
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="rentaldurationMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.rentalDuration}} days </td>
            <mat-menu #rentaldurationMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Rental Duration.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Value" [(ngModel)]="searchValue.rentalDuration"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------RENTAL RATE COLUMN----------------------------->
        <ng-container matColumnDef="rentalRate">
            <th mat-header-cell *matHeaderCellDef> Rental Rate
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="rentalrateMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> ${{element.rentalRate}} </td>
            <mat-menu #rentalrateMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Rental Rate.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Value" [(ngModel)]="searchValue.rentalRate"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------LENGTH COLUMN----------------------------->
        <ng-container matColumnDef="length">
            <th mat-header-cell *matHeaderCellDef> Length
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="lengthMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.length}} mins </td>
            <mat-menu #lengthMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Length.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Value" [(ngModel)]="searchValue.length"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------RATING COLUMN----------------------------->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> Rating
                <button mat-button class="btn-toggle" [matMenuTriggerFor]="ratingMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            <mat-menu #ratingMenu="matMenu">
                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title"
                    (click)="$event.stopPropagation()">
                    Rating.
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field>
                        <input matInput placeholder="Value" [(ngModel)]="searchValue.rating"
                            (click)="$event.stopPropagation()">
                    </mat-form-field>
                </div>

                <div mat-menu-item mat-filter-item [disableRipple]="true">

                    <button mat-raised-button color="primary" (click)="applyFilters()">Search</button>

                </div>
            </mat-menu>
        </ng-container>

        <!---------------------------ACTION COLUMN----------------------------->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <!-- Add action buttons or icons here -->
                <button mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <!-- Add MatPaginator below your table -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
