<app-header></app-header>
<ng-container *ngIf="(usersState$ | async) as state" [ngSwitch]="state.appState">
  <ng-container *ngSwitchCase="'APP_LOADED'">
    <h3>Film Info</h3>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="dataTable">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">ID</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Title</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.title }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Description</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="releaseYear">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Release Year</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.releaseYear }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="languageName">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Language</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.languageName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rentalDuration">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Rental Duration</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.rentalDuration }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rentalRate">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Rental Rate</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.rentalRate }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="length">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Length</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.length }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef class="table-header" id="thcolor">Rating</mat-header-cell>
        <mat-cell *matCellDef="let film" class="table-cell" id="tdpad">{{ film.rating }}</mat-cell>
      </ng-container>
      <!-- Table header row -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- Table rows -->
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <br>

     <!-- Pagination -->
     <nav aria-label="Page navigation example" class="pagination-container">
      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="navigateToPage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo; Previous</span>
          </a>
        </li>

        <ng-container *ngFor="let pageNumber of getPaginationArray(); let i = index">
          <li class="page-item" [class.active]="pageNumber === currentPage">
            <a class="page-link" (click)="navigateToPage(pageNumber)">{{ pageNumber }}</a>
          </li>
        </ng-container>

        <li class="page-item">
          <a class="page-link" (click)="navigateToPage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <mat-card>
      <mat-card-content>
        <p class="mat-body-1">Page: {{ currentPage }}</p>
      </mat-card-content>

      <mat-form-field>
        <input matInput type="number" [(ngModel)]="desiredPage" placeholder="Enter Page Number">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="goToDesiredPage()">Go to Page</button>
    </mat-card>
  </ng-container>
</ng-container>
