<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="body">
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <div class="login-box horizontal-align" fxFlex="50%">
        <div class="row">
          <div class="col-sm-6 animation"
            style="box-shadow: 0 10px 100px 20px rgba(0, 0, 0, 0.1); border: px solid #cccccc; padding: 30px; width: 400px; border-radius: 30px;">
            <div class="logo" style="margin-left: 80px;">
              <span class="logo-font">Staff </span>Login
            </div>
            <br>
            <h3 class="header-title"></h3>
            <form class="login-form " style="margin-left: 70px;" [formGroup]="loginForm" (submit)="onSubmit()">
              <div class="">
                <mat-form-field appearance="outline" style="width: 300px;">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field appearance="outline" style="width: 300px;">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password">
                </mat-form-field>
              </div>
              <div class="horizontal-align">
                <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid"
                  id="custom-button">LOGIN</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>



  <app-footer></app-footer>
</body>

</html>