<app-cust-header></app-cust-header>

<div class="text-center">
    <h2>Action Films</h2>
    <div class="button-container">
        <button [class.active]="isAllActionActive" [class.inactive]="!isAllActionActive"
            (click)="showAllActionFilms()">All Action Films</button>
        <button [class.active]="isRentedActionActive" [class.inactive]="!isRentedActionActive"
            (click)="showRentedActionFilms()">Rented Action Films</button>
    </div>

    <div class="container space-between">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="actiontable">
            <!-- Define columns for Rented Action Films -->
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef id="actionhead">{{ column }}</mat-header-cell>
                <mat-cell *matCellDef="let film" id="actionrow">{{ film[column] }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

        <button class="back-button" color [routerLink]="['/category']">Back</button>
    </div>
</div>

<app-footer id="actionfoot"></app-footer>
