<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="yash">
        <mat-card id="card">
            <mat-card-header>
                <mat-card-title id="heading">User Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content id="content">
                <p id="wlcm">Welcome to your profile!</p>
                <img src="../../assets/user.svg" alt="Company Logo" class="company-logo" id="dvd">
                <p style="margin-top: 10px;"><strong>Name: </strong>{{name}}</p>
                <p><strong>Customer ID: </strong> {{customerId}}</p>
                <p id="clickdetails">
                    <strong>Click for details: </strong>
                    <span id="details-container">
                        <img src="../../assets/details.svg" id="details" width="30px" height="30px" (click)="showDetails()">
                    </span>
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="logout()" id="btn">Logout</button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>

</html>