

<h1 id="paymenttitle">{{ data.title }}</h1>
<table #table class="styled-table" mat-table [dataSource]="dataSource" id="paymenttable">
  <!-- Customer ID Column -->
  <ng-container matColumnDef="customer_id">
    <th mat-header-cell *matHeaderCellDef>Customer ID</th>
    <td mat-cell *matCellDef="let row">{{ row.customerId }}</td>
  </ng-container>

  <!-- Payment ID Column -->
  <ng-container matColumnDef="payment_id">
    <th mat-header-cell *matHeaderCellDef>Payment ID</th>
    <td mat-cell *matCellDef="let row">{{ row.paymentId }}</td>
  </ng-container>

  <!-- Film ID Column -->
  <ng-container matColumnDef="film_id">
    <th mat-header-cell *matHeaderCellDef>Film ID</th>
    <td mat-cell *matCellDef="let row">{{ row.filmId }}</td>
  </ng-container>

  <!-- Film Title Column -->
  <ng-container matColumnDef="film_title">
    <th mat-header-cell *matHeaderCellDef>Film Title</th>
    <td mat-cell *matCellDef="let row">{{ row.filmTitle }}</td>
  </ng-container>

  <!-- Staff ID Column -->
  <ng-container matColumnDef="staff_id">
    <th mat-header-cell *matHeaderCellDef>Staff ID</th>
    <td mat-cell *matCellDef="let row">{{ row.staffId }}</td>
  </ng-container>

  <!-- Staff Name Column -->
  <ng-container matColumnDef="staff_name">
    <th mat-header-cell *matHeaderCellDef>Staff Name</th>
    <td mat-cell *matCellDef="let row">{{ row.staffName }}</td>
  </ng-container>

  <!-- Rental ID Column -->
  <ng-container matColumnDef="rental_id">
    <th mat-header-cell *matHeaderCellDef>Rental ID</th>
    <td mat-cell *matCellDef="let row">{{ row.rentalId }}</td>
  </ng-container>

  <!-- Rental Date Column -->
  <ng-container matColumnDef="rental_date">
    <th mat-header-cell *matHeaderCellDef>Rental Date</th>
    <td mat-cell *matCellDef="let row">{{ row.rentalDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
  </ng-container>

  <!-- Return Date Column -->
  <ng-container matColumnDef="return_date">
    <th mat-header-cell *matHeaderCellDef>Return Date</th>
    <td mat-cell *matCellDef="let row">{{ row.returnDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
  </ng-container>

  <!-- Payment Date Column -->
  <ng-container matColumnDef="payment_date">
    <th mat-header-cell *matHeaderCellDef>Payment Date</th>
    <td mat-cell *matCellDef="let row">{{ row.paymentDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
  </ng-container>

  <!-- Store ID Column -->
  <ng-container matColumnDef="store_id">
    <th mat-header-cell *matHeaderCellDef>Store ID</th>
    <td mat-cell *matCellDef="let row">{{ row.storeId }}</td>
  </ng-container>

  <!-- Store Address Column -->
  <ng-container matColumnDef="store_address">
    <th mat-header-cell *matHeaderCellDef>Store Address</th>
    <td mat-cell *matCellDef="let row">{{ row.storeAddress }}</td>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Row Definitions -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

<button (click)="convertToExcel()" class="convert">Convert To Excel</button>

