<mat-card class="custom-card">
  <mat-card-header class="custom-card-header">
    <mat-card-title id="custdetailsheading">Customer Details</mat-card-title>
  </mat-card-header>
  
      <div class="field">
        <span class="label">Customer ID:</span>
        <span class="value">{{ data[0].id }}</span>
      </div>
      <div class="field">
        <span class="label">Name:</span>
        <span class="value">{{ data[0].name }}</span>
      </div>
      <div class="field">
        <span class="label">Email:</span>
        <span class="value">{{ data[0].email }}</span>
      </div>
      <div class="field">
        <span class="label">Address:</span>
        <span class="value">{{ data[0].customer_address }}</span>
      </div>
      <div class="field">
        <span class="label">Phone No:</span>
        <span class="value">{{ data[0].customer_phone_no }}</span>
      </div>
    
  
</mat-card>