<div class="customer-details">
  <h2>Customer Details</h2>
  <p><strong>Customer ID:</strong> <span style="color: black;">{{ data[0].id }}</span></p>
  <p><strong>Name:</strong> <span style="color: black;">{{ data[0].name }}</span></p>
  <p><strong>Email:</strong> <span style="color: black;">{{ data[0].email }}</span></p>
  <p><strong>Address:</strong> <span style="color: black;">{{ data[0].customer_address }}</span></p>
  <p><strong>Phone No:</strong> <span style="color: black;">{{ data[0].customer_phone_no }}</span></p>
