.header {
    background-color: #333; /* Header background color */
    color: #fff; /* Text color */
  
    display: flex; /* Use flexbox for centering */
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center vertically */
    padding: 29px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .toolbar-center {
    flex: 1; /* Allow the center span to grow and take available space */
    text-align: center; /* Center the text horizontally */
  }
  
  .mr-2 {
    margin-right: 8px; /* Add margin to the icon for spacing */
  }
  
  /* Add more styles as needed */
  