/* Add CSS styles for the header and side navigation */

.header {
  background-color: #131313; /* Example background color */
  color: #fff; /* Example text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav-container {
  position: relative;
  height: 100%;
}

.mat-sidenav {
  width: 250px; /* Adjust the width as needed */
}
