<app-header></app-header>
<div class="dashboard-container">
    <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
        <mat-card-header id="header">
            <!-- <mat-icon class="cartoon-icon">person</mat-icon> -->
            <mat-card-title id="title">Staff
            </mat-card-title>
            <img src="../../assets/staff.svg" id="icon" width="40px" height="40px"
                style="padding-top: 20px; padding-left: 10px;">
        </mat-card-header>
        <mat-card-content>
            <p id="count-label">Count: 2</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
        <mat-card-header id="header">
            <!-- <mat-icon class="cartoon-icon">store</mat-icon> -->
            <mat-card-title id="title">Stores</mat-card-title>
            <img src="../../assets/stores.svg" id="icon" width="30px" height="30px"
                style="padding-top: 30px; padding-left: 10px;">
        </mat-card-header>
        <mat-card-content>
            <p id="count-label">Count: 20</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
        <mat-card-header id="header">
            <!-- <mat-icon class="cartoon-icon">movie</mat-icon> -->
            <mat-card-title id="title">Films</mat-card-title>
            <img src="../../assets/films.svg" id="icon" width="30px" height="30px"
                style="padding-top: 30px; padding-left: 10px;">
        </mat-card-header>
        <mat-card-content>
            <p id="count-label">Count: 30</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card bounce-animation" style="border-radius: 20px;">
        <mat-card-header id="header">
            <!-- <mat-icon class="cartoon-icon">people</mat-icon> -->
            <mat-card-title id="title" style="padding-left: 40px;">Customer</mat-card-title>
            <img src="../../assets/customer.svg" id="icon" width="40px" height="40px"
                style="padding-top: 25px; padding-left: 10px;">
        </mat-card-header>
        <mat-card-content>
            <p id="count-label">Count: 40</p>
        </mat-card-content>
    </mat-card>
</div>

<!-- Table -->

<h2 id="storedhead" style="color: #353839; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold;">STORE
    DETAILS</h2>
<!-- Your Component's HTML File -->
<div id="table-responsive">
    <table mat-table [dataSource]="dataSource" id="mtable">
        <!-- Store ID Column -->
        <ng-container matColumnDef="storeid">
            <th mat-header-cell *matHeaderCellDef id="thcolor1" style="background-color: #414a4c;"> Store ID </th>
            <td mat-cell *matCellDef="let row"> {{ row.storeId }} </td>
        </ng-container>

        <!-- Manager ID Column -->
        <ng-container matColumnDef="managerid">
            <th mat-header-cell *matHeaderCellDef id="thcolor1" style="background-color: #414a4c;"> Manager ID </th>
            <td mat-cell *matCellDef="let row"> {{ row.managerid }} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef id="thcolor1" style="background-color: #414a4c;"> Address </th>
            <td mat-cell *matCellDef="let row"> {{ row.address }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef id="thcolor1" style="background-color: #414a4c;"> Action </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button color="primary" id="mbtn" (click)="staff(row.id)">Staff</button>
                &nbsp;
                <button mat-button color="accent" id="mbtn" (click)="openFilmDetailsDialog(storeId1)">Film</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<app-footer></app-footer>
